$primary-color: #4f46e5;
$bot-color: #f0f0f0;
$user-color: #d1e7ff;

   h1{
    color: red;
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
 }

.chat-window {
  display: flex;
  flex-direction: column;
  height: 80vh;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;


  .messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 1rem;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 4px;
    }
  }

  .reset-btn {
    margin-top: 0.5rem;
    background: #f87171;
    margin-bottom: 10px;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background: darken(#f87171, 10%);
    }
  }
}
