/* Global Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: Arial, sans-serif;
}

.app {
  max-width: 700px;
  margin: auto;
  padding: 1rem;
}
